img {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 800px;
    justify-content: center;
}

.tart {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 6em;
    letter-spacing: 10px;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.cherries {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 3em;
    letter-spacing: 10px;
    color: darkred;
    justify-self: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}